.imageCtn img {
  height: 200px;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.imageCtn img {
  width: 350px;
  margin: 3rem;
}
.container {
  border: 1px solid black;
  display: flex;
  width: 45vw;
  flex-direction: row;
  margin-top: 20px;
}
.textCtn {
  display: black;
  font-size: 1.2rem;
  text-align: left;
}
.listCtn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
