.imageCtn img {
  height: 170px;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}
.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.text-iron {
  color: #0a035a;
}
.imageCtn img {
  width: 400px;
  margin: 2rem;
}
.container {
  border: 2px solid black;
  display: flex;
  width: 45vw;
  flex-direction: row;
  margin-top: 20px;
}
.textCtn {
  display: black;
  font-size: 1.5rem;
  text-align: center;
}
.listCtn {
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 15 px;
  padding: 10px;
  align-items: center;
  border: 1px solid gray;
  margin: 1rem;
  background-color: beige;
  flex-wrap: wrap;
  align-content: center;
}
