#search {
  display: flex;
   padding-left: 35px;
    color: color-gray-one;
    box-shadow: 2px 3px 1px 1px rgba(0, 0, 0, 0.1);
    border: 0px solid transparent;
    border-radius: 5px;

    height: 58px;
    font-size: 20px;

    transition: all .2s ease;

    &::placeholder {
        color: #B3B3B3;
    }

    &:focus {
        outline: none;
        box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.3);
    }
  }
  #button{border-radius: 10px;
    background-color: #04AA6D; 
    border: 4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;}


  #button2{border-radius: 10px;
      background-color: #04AA6D; 
      border: 4;
      color: white;
      padding: 10px 20px;
      text-align: right;
      text-decoration: none;
      margin: 6px;
     
      font-size: 16px;}
  

.imageCtn img {
  height: 170px;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}
.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.text-iron {
  color: #0a035a;
}
.imageCtn img {
  width: 400px;
  margin: 2rem;
}
@media screen and (min-width:1400px) {
.container {
  border: 2px solid black;
  display: flex;
  width: 45vw;
  flex-direction: row;
  margin-top: 20px;
}
.textCtn {
  display: black;
  font-size: 1.5rem;
  text-align: center;
}

  
.listCtn {
  
  
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 15 px;
  padding: 10px;
  align-items: center;
  border: 5px solid gray;
  margin: 1rem;
  background-color:honeydew;
  flex-wrap: wrap;
  align-content: center;
}
}