.navBar {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(55, 174, 174);
  font-size: 2rem;
  color: white;
  padding-left: 30px;
}
.navBar img {
  height: 15vh;
  padding-right: 100px;
}
